In [1]:
import pandas as pd

In [2]:
donations = pd.read_csv('C:/Users/samaher/Desktop/Data/Donations.csv')

In [3]:
projects = pd.read_csv('C:/Users/samaher/Desktop/Data/Projects.csv',error_bad_lines=False, engine="python")

In [4]:
schools = pd.read_csv('C:/Users/samaher/Desktop/Data/Schools.csv')

In [5]:
projects.head(6)

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,25,Teacher-Led,Stand Up to Bullying: Together We Can!,Did you know that 1-7 students in grades K-12 ...,Did you know that 1-7 students in grades K-12 ...,"My students need 25 copies of ""Bullying in Sch...",Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,3,Teacher-Led,Learning in Color!,"Help us have a fun, interactive listening cent...","Help us have a fun, interactive listening cent...","My students need a listening center, read alon...","Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,1,Teacher-Led,Help Second Grade ESL Students Develop Languag...,Visiting or moving to a new place can be very ...,Visiting or moving to a new place can be very ...,My students need beginning vocabulary audio ca...,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,40,Teacher-Led,Help Bilingual Students Strengthen Reading Com...,Students at our school are still working hard ...,Students at our school are still working hard ...,My students need one copy of each book in The ...,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,2,Teacher-Led,Help Us Make Each Minute Count!,"""Idle hands"" were something that Issac Watts s...","""Idle hands"" were something that Issac Watts s...","My students need items such as Velcro, two pou...",Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01
5,563958074d7b12b48b939279eb59e6ca,b79a19772090efccde93b3a5934d829f,5ef1793ff657860ca7856d475715ec2a,4,Teacher-Led,It's about Time... Time for Kids!,We know that success in school is directly rel...,We know that success in school is directly rel...,My students need 24 subscriptions to Time for ...,"Literacy & Language, History & Civics","Literacy, Social Sciences",Grades 3-5,Other,175.15,2013-01-01,2013-05-31,Fully Funded,2013-02-01

In [6]:
projects_cleaned = projects.drop(
    ['Teacher Project Posted Sequence', 'Project Title',
     'Project Essay', 'Project Short Description',
     'Project Need Statement'], axis=1)

In [7]:
projects_cleaned['Project Current Status'].unique()

array(['Fully Funded', 'Expired', 'Live'], dtype=object)

In [8]:
projects_cleaned.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,Teacher-Led,"Applied Learning, Literacy & Language","Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01

In [9]:
projects_cleaned = projects_cleaned[projects_cleaned['Project Posted Date'].map(lambda x: "2018" not in str(x) )]
projects_cleaned = projects_cleaned[projects_cleaned['Project Current Status'].map(lambda x: "Li" not in str(x) )]

In [10]:
def replace_warmth(row):
    if 'War' in str(row):
        return str(row).replace('Warmth,', 'Warmth')
    else:
        return row

In [11]:
projects_cleaned['Project Subject Category Tree'] = projects_cleaned['Project Subject Category Tree'].apply(replace_warmth)

In [12]:
projects_single_cat = projects_cleaned[projects_cleaned['Project Subject Category Tree'].map(lambda x: "," not in str(x)  )]
projects_single_cat['Project Current Status'].unique()

array(['Fully Funded', 'Expired'], dtype=object)

In [13]:
projects_single_cat.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01
6,717c7a01215d532d68f6fe9e666c88c3,14a4351014125e8a4376c2aac594526d,dd9c029f01a66f862b4d1c209eaa4451,Teacher-Led,Applied Learning,"College & Career Prep, Community Service",Grades 9-12,Trips,3020.59,2013-01-01,2013-05-27,Fully Funded,2013-01-05

In [14]:
projects_single_cat['Project Subject Category Tree'].unique()

array(['Applied Learning', 'Literacy & Language', 'Special Needs',
       'Math & Science', 'Health & Sports', 'Music & The Arts',
       'History & Civics', nan, 'Warmth Care & Hunger'], dtype=object)

In [15]:
projects_single_cat = projects_single_cat.dropna(subset=['Project Subject Category Tree'])

In [16]:
projects_single_cat['Project Subject Category Tree'].unique()

array(['Applied Learning', 'Literacy & Language', 'Special Needs',
       'Math & Science', 'Health & Sports', 'Music & The Arts',
       'History & Civics', 'Warmth Care & Hunger'], dtype=object)

In [17]:
projects_single_cat['Project Current Status'].unique()

array(['Fully Funded', 'Expired'], dtype=object)

In [18]:
projects_single_cat.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01
6,717c7a01215d532d68f6fe9e666c88c3,14a4351014125e8a4376c2aac594526d,dd9c029f01a66f862b4d1c209eaa4451,Teacher-Led,Applied Learning,"College & Career Prep, Community Service",Grades 9-12,Trips,3020.59,2013-01-01,2013-05-27,Fully Funded,2013-01-05

In [19]:
projects_cleaned = projects_cleaned.dropna(subset=['Project Subject Category Tree'])
projects_cleaned['Project Subject Category Tree'].unique()

array(['Applied Learning', 'Applied Learning, Literacy & Language',
       'Literacy & Language', 'Special Needs',
       'Literacy & Language, History & Civics', 'Math & Science',
       'History & Civics, Math & Science',
       'Literacy & Language, Special Needs',
       'Applied Learning, Special Needs', 'Health & Sports, Special Needs',
       'Math & Science, Literacy & Language',
       'Literacy & Language, Math & Science',
       'Literacy & Language, Music & The Arts',
       'Math & Science, Special Needs', 'Health & Sports',
       'Music & The Arts', 'Math & Science, Applied Learning',
       'Literacy & Language, Applied Learning',
       'Applied Learning, Music & The Arts',
       'History & Civics, Literacy & Language',
       'Applied Learning, Math & Science',
       'Health & Sports, Math & Science',
       'Applied Learning, Health & Sports', 'History & Civics',
       'History & Civics, Music & The Arts',
       'Math & Science, History & Civics',
       'Math & Science, Music & The Arts',
       'Special Needs, Music & The Arts',
       'History & Civics, Applied Learning',
       'History & Civics, Special Needs',
       'Music & The Arts, Special Needs',
       'Literacy & Language, Health & Sports',
       'Math & Science, Health & Sports',
       'Health & Sports, Literacy & Language',
       'Applied Learning, History & Civics',
       'Music & The Arts, History & Civics',
       'Health & Sports, Applied Learning',
       'Music & The Arts, Applied Learning',
       'Health & Sports, Music & The Arts',
       'Special Needs, Health & Sports',
       'History & Civics, Health & Sports',
       'Music & The Arts, Health & Sports',
       'Health & Sports, History & Civics',
       'Health & Sports, Warmth Care & Hunger',
       'Special Needs, Warmth Care & Hunger', 'Warmth Care & Hunger',
       'Math & Science, Warmth Care & Hunger',
       'Applied Learning, Warmth Care & Hunger',
       'Literacy & Language, Warmth Care & Hunger',
       'History & Civics, Warmth Care & Hunger',
       'Music & The Arts, Warmth Care & Hunger'], dtype=object)

In [20]:
projects_single_cat['Project Current Status'].unique()

array(['Fully Funded', 'Expired'], dtype=object)

In [21]:
defi_cat = {
    'Applied Learning' : {'full' : 0.06, 'exp': 0.08},
    'Literacy & Language' : {'full' : 0.4, 'exp': 0.4 },
    'Math & Science' : {'full' : 0.27, 'exp': 0.27 },
    'Music & The Arts' : {'full' : 0.09, 'exp': 0.09 },
    'Health & Sports' : {'full' : 0.08, 'exp': 0.07 },
    'Special Needs' : {'full' : 0.05, 'exp': 0.06 },
    'History & Civics' : {'full' : 0.03, 'exp': 0.03 },
    'Warmth Care & Hunger' : {'full' : 0.02, 'exp': 0 },
}

counter = -1
def replace_cat(row):
    global counter
    counter +=1
    if ',' in str(row):
        value = str(row).split(',')
        value[0] = str(value[0]).strip()
        value[1] = str(value[1]).strip()
        value_of_prob_1 = 0
        value_of_prob_2 = 0
        if 'Fully' in str(projects_cleaned.iloc[counter]['Project Current Status']) :
            value_of_prob_1 = defi_cat[str(value[0])]['full']
            value_of_prob_2 = defi_cat[str(value[1])]['full']
            if value_of_prob_1 > value_of_prob_2 :
                return value[0]
            else :
                return value[1]

        else :
            value_of_prob_1 = defi_cat[str(value[0])]['exp']
            value_of_prob_2 = defi_cat[str(value[1])]['exp']
            if value_of_prob_1 > value_of_prob_2 :
                return value[0]
            else :
                return value[1]

    else :
        return str(row)

In [22]:
projects_cleaned['Project Subject Category Tree'] = projects_cleaned['Project Subject Category Tree'].apply(replace_cat)

In [23]:
projects_cleaned

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Current Status,Project Fully Funded Date
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-01-01,2013-05-30,Fully Funded,2013-01-11
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,Teacher-Led,Literacy & Language,"Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-01-01,2013-05-31,Expired,NaN
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-01-01,2013-05-30,Fully Funded,2013-05-22
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-01-01,2013-05-31,Fully Funded,2013-02-06
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-01-01,2013-05-30,Fully Funded,2013-01-01
5,563958074d7b12b48b939279eb59e6ca,b79a19772090efccde93b3a5934d829f,5ef1793ff657860ca7856d475715ec2a,Teacher-Led,Literacy & Language,"Literacy, Social Sciences",Grades 3-5,Other,175.15,2013-01-01,2013-05-31,Fully Funded,2013-02-01
6,717c7a01215d532d68f6fe9e666c88c3,14a4351014125e8a4376c2aac594526d,dd9c029f01a66f862b4d1c209eaa4451,Teacher-Led,Applied Learning,"College & Career Prep, Community Service",Grades 9-12,Trips,3020.59,2013-01-01,2013-05-27,Fully Funded,2013-01-05
7,4202c4e251fe483dfd93520da022f987,2265238757b794fceba04d6e07ff29a1,7caacabf97a3972e1d07d4a575bc0f3c,Teacher-Led,Literacy & Language,"Literacy, Literature & Writing",Grades 6-8,Books,566.19,2013-01-01,2013-05-31,Expired,NaN
8,49825532f85d0cdb569797df3ab8ec46,b3b304ad7840ca7f5d21105c8611b7bd,969fd3465276f11ffbec9c31ee9be1e2,Teacher-Led,Literacy & Language,"Literacy, Literature & Writing",Grades PreK-2,Supplies,339.20,2013-01-01,2013-05-29,Fully Funded,2013-02-17
9,60dddb9495e5ed60c1f6c1b86fe9a7e4,0eef7b3d950954a033fc8642dea3be03,1c822ca44ec40dd3281470af34abf325,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades PreK-2,Books,566.73,2013-01-01,2013-05-30,Fully Funded,2013-05-24
10,3bb8a92ba3e8756c417d7f7fa0dd0b8b,9f2ac63654b44656f6b07344fabbdbca,9777d72d8a943ed206ffd9514bf0c2b3,Teacher-Led,Applied Learning,Character Education,Grades PreK-2,Books,400.19,2013-01-01,2013-05-30,Fully Funded,2013-01-09
11,2383faa08d819975fd335c1b124be054,b2998dbd901d637f9f317bb4a776a836,152f5bc06e47b17f5ce297c0a0d7bebe,Teacher-Led,Math & Science,Mathematics,Grades PreK-2,Supplies,314.33,2013-01-01,2013-05-30,Fully Funded,2013-04-02
12,c265d5c4b7ef2059e4e84ddcef18bdd9,4fc80fd777e469bc97ef31f06723b20b,04d3b06321ffbff8371b26c542fd6d50,Teacher-Led,Literacy & Language,"Early Development, Literacy",Grades PreK-2,Books,580.02,2013-01-01,2013-05-30,Fully Funded,2013-02-20
13,49409b4858006bbfba35c36338e10ee7,318346a55244fb197ce8eafbf01b838e,0b163977c92e419cf2823eb5cfb3439c,Teacher-Led,Math & Science,"Economics, Environmental Science",Grades 3-5,Supplies,294.60,2013-01-01,2013-03-03,Expired,NaN
14,14c19c45cbb73319b6b506791c659d9d,a73c6871f519b27526e4134836b70bb6,ef874d1a8022ef141a7cad223c808dc2,Teacher-Led,Literacy & Language,"Literacy, Special Needs",Grades PreK-2,Technology,494.13,2013-01-01,2013-05-30,Fully Funded,2013-02-13
15,245275cd750ddee64a47512403e47086,c4b1266e41c96af83ef4317f73a3ff39,15908e4d04acfbc33f8d2c6c4aea347c,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Technology,897.28,2013-01-01,2013-05-31,Expired,NaN
16,70d2edb28d3f75b283cc513a9a24eb8b,93520ef06f0893e1e6ee3086278bf35e,3f9faf957fb8079f49bb1f63b717fb40,Teacher-Led,Applied Learning,"Character Education, Special Needs",Grades PreK-2,Books,605.87,2013-01-01,2013-05-31,Fully Funded,2013-01-07
17,19895db4d7aa9379e9141b1d0014a5a5,3e2fe90123461ec32ffc4b6918bba291,096491c0389f13c3380608d45df99f5a,Teacher-Led,Literacy & Language,ESL,Grades 3-5,Technology,861.18,2013-01-01,2013-05-30,Fully Funded,2013-04-02
18,91f02419c8f99bf628365f909eb789dd,59072099dfdae1c1577ee4646837377c,0e6d1283cfd1dddc6b2778dbd25c706c,Teacher-Led,Literacy & Language,"Literacy, Literature & Writing",Grades PreK-2,Supplies,452.05,2013-01-01,2013-05-31,Fully Funded,2013-05-08
19,efd785ac25f988e33711d5dcbf8cffbb,e41b10fbe154d670d72ba7a4a9144455,946623b0e7add535e35095af465dc026,Teacher-Led,Health & Sports,"Health & Wellness, Special Needs",Grades 3-5,Other,696.60,2013-01-01,2013-05-30,Fully Funded,2013-04-09
20,d3fc101ea24e26443dbfe9bc7560d08c,cb1db2e3c1b355efb4e6f7b484ebf20d,9d7051e2611cebdb758f1c7bd09360ac,Teacher-Led,Literacy & Language,"Environmental Science, Literacy",Grades PreK-2,Supplies,231.60,2013-01-01,2013-05-31,Fully Funded,2013-01-28
21,68f054c6f0f9b85ab4b4db0ec6d11125,4b14666da54aef79e5e600bf02bc01e9,6a5d983fdb6e0a0ac75b826391e18f39,Teacher-Led,Math & Science,"Applied Sciences, Mathematics",Grades 9-12,Technology,662.84,2013-01-01,2013-05-30,Fully Funded,2013-04-01
22,a400298a27208d33334bf5f142d43e09,a31c901b73701a3d815a0c0df6a912d0,6d9d8e6f0b9bd9b60df18470d656d15b,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades PreK-2,Books,193.19,2013-01-01,2013-05-29,Fully Funded,2013-01-14
23,9bababc22886d0653f6ef4963c33b308,1542be347524325ceca9e2b98df02fae,edd5326ed3496ebe4dbde8907f695373,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades PreK-2,Technology,980.35,2013-01-01,2013-05-30,Fully Funded,2013-01-21
24,ea352ef6f824c3f6dc3320bb1235457d,b5159e06a68f3acc486c4fdcd4068403,fb682f4af7e2ce1fb06c4fb55fa926c0,Teacher-Led,Literacy & Language,Literacy,Grades PreK-2,Books,322.35,2013-01-01,2013-05-30,Fully Funded,2013-03-07
25,77b7d3f2ac4e32d538914e4a8cb8a525,c2d5cb0a29a62e72cdccee939f434181,59f7d2c62f7e76a99d31db6f62b7b67c,Teacher-Led,Literacy & Language,"Character Education, Literacy",Grades PreK-2,Books,490.38,2013-01-01,2013-05-30,Fully Funded,2013-03-12
26,5dc8155af6b15d1214a94466c9d6e0b2,5bd49d296d9481711d755af65bbfdc01,abac8cb401e71f0409d712c6e6680d36,Teacher-Led,Literacy & Language,"Literature & Writing, Social Sciences",Grades PreK-2,Technology,559.99,2013-01-01,2013-05-31,Fully Funded,2013-03-22
27,1baf9e486d93ff9f9312c81cb0af4d51,af8774180557ed638937ef7d2a31fd42,0a7acb48b1ef65251b33465bbf31bbdf,Teacher-Led,Literacy & Language,Literature & Writing,Grades PreK-2,Supplies,327.44,2013-01-01,2013-05-30,Fully Funded,2013-02-19
28,ec7a0cfa371ac1d04b27658c461b45e6,3b4267536e8a0b00fda72a5dfdf94e11,d26dd92f2133fc789d118327ae3d0b5c,Teacher-Led,Literacy & Language,"Literature & Writing, Visual Arts",Grades 3-5,Supplies,300.88,2013-01-01,2013-05-30,Fully Funded,2013-01-01
29,196524f5dc405c7d1fccc6feea95172e,d240f1ce82c064011f7aafeb60c68245,9af89050424311c8d09902ce526da5e3,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades 3-5,Supplies,175.06,2013-01-01,2013-05-30,Fully Funded,2013-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
979633,2e3c6b06b975a4ac930162779e4bf347,745d51c14111cf66c57d0ff55a570705,45be2e5f3f205cdbcc2efd0972bd9761,Teacher-Led,Literacy & Language,"ESL, Special Needs",Grades 6-8,Instructional Technology,507.93,2017-12-31,2018-04-12,Fully Funded,2017-12-31
979634,8903eda7122be458764747ddb6e1d6c4,e463465a2d8a98a569fc9b426851b3e5,fbdafb6baa8000eb8a08f5f324801cdb,Teacher-Led,Music & The Arts,"Music, Performing Arts",Grades 9-12,Musical Instruments,1038.95,2017-12-31,2018-04-18,Fully Funded,2018-01-07
979635,79855013ee39d51754932635683b5283,5b7d0a84c31f9d329006a37dccfdf4a4,cd16283ea6972dbf688fbae5963c11ba,Teacher-Led,Math & Science,"Applied Sciences, Visual Arts",Grades 3-5,Books,361.91,2017-12-31,2018-04-30,Fully Funded,2018-01-04
979636,502727147ac7de6ece04d0ad40ce60b2,88d7b204dc3d3391489daf6c17a00612,933a1b916dc164b4a983fe22cbab365b,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades 3-5,"Reading Nooks, Desks & Storage",512.29,2017-12-31,2018-04-30,Fully Funded,2018-01-25
979637,124ea19ee3e59f801c4dda048f499735,527940eb2bb86b6b5ad11864d83ffa70,35bf1bb5ef7b5df3ddcd03d01c06908d,Teacher-Led,Math & Science,"Environmental Science, Mathematics",Grades PreK-2,Computers & Tablets,542.91,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979638,56e9727d94ef9661ef02bb85684ba577,88b178a798c68d4afd87f4c2f3400a30,fabf8b988066709a01526b2da5e40af5,Teacher-Led,Literacy & Language,Literacy,Grades PreK-2,Classroom Basics,174.96,2017-12-31,2018-04-30,Fully Funded,2017-12-31
979639,12147312c71c7dd32ea6221411de4896,13a1b738ea4a79e2203e418f3c29f604,335d328454e9a8ad71c3d1bd3a338531,Professional Development,Literacy & Language,"Literacy, Mathematics",Grades 3-5,Trips,428.14,2017-12-31,2018-02-01,Expired,NaN
979640,37143ffbcb7243bedbdccbcaa91661b9,ccd805dace5a3ad726e7a72dc0bd20e7,ac12108d3ccd56c9478bc27be8ba5971,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Computers & Tablets,474.81,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979641,3ca11ff61719ea35d23b5cf8de79a195,d6a7179db5d0e8b975a3acb529db0035,b38e881d13f8909f9d06bcbfa2e4a2d5,Teacher-Led,Literacy & Language,"Literacy, Literature & Writing",Grades 3-5,Computers & Tablets,506.62,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979642,1b14db8afd1b3c8abcf6c403c856f9bd,eefe97c387e65e2451b69c45e0f8e180,c4dda313bb0ab437fa91eae77f05cf5f,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades 3-5,Computers & Tablets,228.67,2017-12-31,2018-04-30,Fully Funded,2018-01-01
979643,b89c42d58606ae6abbbe4b901ae28e63,3f3a30b0bbd661d38b8c8ce09efb583a,dd2519e6c01b20caeebbd9be28c1b0b3,Teacher-Led,Music & The Arts,"Extracurricular, Visual Arts",Grades 6-8,Instructional Technology,362.21,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979644,3327b8e6e82e61a34e65fdd3b5e8c014,e59381679b8c7132abe13a13da147dba,2d3d5c812ea5094a48bd2e2655b28821,Teacher-Led,Health & Sports,"Gym & Fitness, Team Sports",Grades PreK-2,Sports & Exercise Equipment,254.27,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979645,9db9780639b20648d65fe04f4439a74c,b2a307ec407838bd1eb753d420ee5a44,6f21ed2d79d2ddc228b35e56063fee93,Teacher-Led,Warmth Care & Hunger,"Warmth, Care & Hunger",Grades PreK-2,"Food, Clothing & Hygiene",222.45,2017-12-31,2018-04-30,Fully Funded,2018-01-01
979646,5103bea9a80a9c868eb999c7936648d1,6c9bf35c8d63462dc143d9516dcdc298,104505b78f1d964a2a72b862080969c9,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades PreK-2,Computers & Tablets,261.21,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979647,c678eedc3cdca997e1f6f0e0363f1544,862ef9dd6357609fe63993a974fe9d17,ffb941acb690625030fa2b113153d629,Teacher-Led,Health & Sports,"College & Career Prep, Team Sports",Grades 3-5,Books,209.87,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979648,f116a42eef237c6174dbfe69aa8d76f7,f90c441ff2cbcd913b9986b67b6abfc5,d6ec82b0496e7d701e049f5c5c4c8f12,Teacher-Led,Math & Science,"Mathematics, Special Needs",Grades 6-8,"Food, Clothing & Hygiene",566.62,2017-12-31,2018-04-30,Fully Funded,2018-01-25
979649,6f09c5ebcdbe7a336475e54e0293e451,7b3296643726c0b7475ddfe2760ea6bb,a5e607c4c9e6cd972872277554f8c693,Teacher-Led,Literacy & Language,Literature & Writing,Grades PreK-2,Flexible Seating,155.72,2017-12-31,2018-04-30,Fully Funded,2018-01-01
979650,3c44503f33f9f82546eb004b884153ff,4ff5448aae01e9e86e096e43251bcf99,19291fcf6b6f3d9e7050baa2dcaa6a1f,Teacher-Led,Literacy & Language,Literature & Writing,Grades PreK-2,Classroom Basics,368.11,2017-12-31,2018-04-30,Fully Funded,2017-12-31
979651,8961b1073480040003e92d43aede7c39,af5e18a6da3b31f5bece862468942058,4c329356aceb2856bbba60c443973be1,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Educational Kits & Games,157.05,2017-12-31,2018-04-30,Fully Funded,2018-01-02
979652,012a143fc2f30088a6bda616cd62d0ac,6c18e395d5c946f7f4b141e0ac6b5bc1,5cf6a9087c549019ced6be464d80f834,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Instructional Technology,298.42,2017-12-31,2018-04-30,Fully Funded,2018-01-03
979653,44305bfcac7c3ec0eef30effe07c788c,68a2daa463345bb09cb85b04df0bffe7,72f232d15c8f54035694025b8dbd0576,Teacher-Led,Literacy & Language,"Literature & Writing, Mathematics",Grades 3-5,Books,486.66,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979654,53e57460a10d1c296429aa274bf3e430,c83282df4b8bc5e9f8ce7b488aa953dc,bbfb418f63b3c07d30c7c724bfffdc55,Teacher-Led,Warmth Care & Hunger,"Warmth, Care & Hunger",Grades 3-5,"Food, Clothing & Hygiene",310.86,2017-12-31,2018-04-30,Fully Funded,2018-01-03
979655,091a6b93488f34fce3e13e0fe6a5dfef,7f23e5b5a5f240a5a02ef23f299f02e2,6e1aa17042ac103cf904b2aa120859b0,Teacher-Led,Literacy & Language,Literacy,Grades PreK-2,Books,218.00,2017-12-31,2018-04-30,Fully Funded,2018-02-07
979656,32da3ac5412248bb519135ecfb39602e,0e7331aa33da16e424da00416bfbeb1b,7be5f936035f0e292921f77160aad173,Teacher-Led,Math & Science,"Applied Sciences, Mathematics",Grades 3-5,Educational Kits & Games,241.79,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979657,f7fb7c5b56d3710618799e9a22306576,2a9082ec09bd1d3d422cb0fb86d2f029,c86bff126b644b97a3d9c5f03cdd3149,Teacher-Led,Literacy & Language,"Literature & Writing, Mathematics",Grades 3-5,Musical Instruments,167.56,2017-12-31,2018-04-30,Fully Funded,2017-12-31
979658,6cb0edb7a45160fe68b8fdf66d779cbe,c9aaf14a82e6be25786b23cc80d11ddb,87bd027fdfa45f0b552c0faeba38bec6,Teacher-Led,Literacy & Language,"Literature & Writing, Mathematics",Grades PreK-2,Educational Kits & Games,652.06,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979659,a2bf87a556759eb1ba7cfa98243a5640,83ecb983d8d6b9f55b4ca3859f4faa28,a65dcd528f74abd3b9157caf1538ff45,Teacher-Led,Literacy & Language,"Literature & Writing, Visual Arts",Grades 3-5,Books,751.75,2017-12-31,2018-04-30,Fully Funded,2018-02-11
979660,0979d9e285e2a397119d29ca7d79e257,29975e29cde0335931a7ed5f0c211f85,f356435a8c8c3856c93203120fa8bfa2,Teacher-Led,Literacy & Language,Literacy,Grades PreK-2,Computers & Tablets,799.05,2017-12-31,2018-04-30,Fully Funded,2018-03-27
979661,9e9dec6f516a88dcafd9551314caf910,b52801618fbc1794828958e936af6d12,f465f0e3fcff3758361fa5254a867002,Teacher-Led,Literacy & Language,"Literacy, Special Needs",Grades PreK-2,Educational Kits & Games,262.89,2017-12-31,2018-04-30,Fully Funded,2017-12-31
979662,5d26276e6a8c4fe46d747a0d495e4e67,cf52c379d126a0806eba3ebce101a5a5,e3d482984f052d163a15532c387232dd,Teacher-Led,History & Civics,"History & Geography, Social Sciences",Grades PreK-2,Books,474.73,2017-12-31,2018-04-30,Fully Funded,2018-02-01

In [24]:
projects_cleaned.isnull().sum()

Project ID                               0
School ID                                0
Teacher ID                               0
Project Type                             0
Project Subject Category Tree            0
Project Subject Subcategory Tree         0
Project Grade Level Category             0
Project Resource Category                7
Project Cost                             0
Project Posted Date                      0
Project Expiration Date                  9
Project Current Status                   0
Project Fully Funded Date           240690
dtype: int64

In [25]:
projects_cleaned['Project Subject Category Tree'].unique()

array(['Applied Learning', 'Literacy & Language', 'Special Needs',
       'Math & Science', 'Health & Sports', 'Music & The Arts',
       'History & Civics', 'Warmth Care & Hunger'], dtype=object)

In [26]:
#### projected posted month
projects_cleaned['Project Posted Date']=pd.to_datetime(projects_cleaned['Project Posted Date'])
projects_cleaned['Project Posted '+'Month'] = projects_cleaned['Project Posted Date'].apply(lambda x: x.month)
projects_cleaned = projects_cleaned.drop('Project Posted Date', axis=1)

In [27]:
projects_cleaned.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Expiration Date,Project Current Status,Project Fully Funded Date,Project Posted Month
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-05-30,Fully Funded,2013-01-11,1
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,Teacher-Led,Literacy & Language,"Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-05-31,Expired,NaN,1
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-05-30,Fully Funded,2013-05-22,1
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-05-31,Fully Funded,2013-02-06,1
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-05-30,Fully Funded,2013-01-01,1

In [28]:
## Contengency table for Projected Posted Month
pd.crosstab(index=projects_cleaned['Project Posted Month'],columns=projects_cleaned['Project Current Status'])

Project Current Status  Expired  Fully Funded
Project Posted Month
1                         14984         51207
2                         13363         48800
3                         20994         56461
4                         13775         33885
5                         15420         36600
6                         14928         33620
7                         18741         48078
8                         33237        103456
9                         35866        118374
10                        26334         80868
11                        22211         70947
12                        10837         56648

In [29]:
projects_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 979634 entries, 0 to 979662
Data columns (total 13 columns):
Project ID                          979634 non-null object
School ID                           979634 non-null object
Teacher ID                          979634 non-null object
Project Type                        979634 non-null object
Project Subject Category Tree       979634 non-null object
Project Subject Subcategory Tree    979634 non-null object
Project Grade Level Category        979634 non-null object
Project Resource Category           979627 non-null object
Project Cost                        979634 non-null float64
Project Expiration Date             979625 non-null object
Project Current Status              979634 non-null object
Project Fully Funded Date           738944 non-null object
Project Posted Month                979634 non-null int64
dtypes: float64(1), int64(1), object(11)
memory usage: 104.6+ MB

In [30]:
projects_cleaned['Project Resource Category'].unique()

array(['Technology', 'Supplies', 'Books', 'Other', 'Trips', 'Visitors',
       nan, 'Sports & Exercise Equipment', 'Computers & Tablets',
       'Flexible Seating', 'Reading Nooks, Desks & Storage',
       'Educational Kits & Games', 'Instructional Technology',
       'Art Supplies', 'Classroom Basics', 'Lab Equipment',
       'Food, Clothing & Hygiene', 'Musical Instruments'], dtype=object)

In [31]:
projects_cleaned.isnull().sum()

Project ID                               0
School ID                                0
Teacher ID                               0
Project Type                             0
Project Subject Category Tree            0
Project Subject Subcategory Tree         0
Project Grade Level Category             0
Project Resource Category                7
Project Cost                             0
Project Expiration Date                  9
Project Current Status                   0
Project Fully Funded Date           240690
Project Posted Month                     0
dtype: int64

In [32]:
## to drop the 7 missing values
projects_cleaned = projects_cleaned.dropna(subset=['Project Resource Category'])

In [33]:
projects_cleaned.isnull().sum()

Project ID                               0
School ID                                0
Teacher ID                               0
Project Type                             0
Project Subject Category Tree            0
Project Subject Subcategory Tree         0
Project Grade Level Category             0
Project Resource Category                0
Project Cost                             0
Project Expiration Date                  9
Project Current Status                   0
Project Fully Funded Date           240690
Project Posted Month                     0
dtype: int64

In [34]:
projects_cleaned['Project Resource Category'].value_counts()

Supplies                          386074
Technology                        299034
Books                             162343
Other                              66850
Trips                              16642
Computers & Tablets                10116
Educational Kits & Games            7408
Instructional Technology            6259
Flexible Seating                    4122
Reading Nooks, Desks & Storage      3767
Classroom Basics                    3696
Art Supplies                        2914
Visitors                            2551
Sports & Exercise Equipment         2463
Lab Equipment                       2139
Food, Clothing & Hygiene            2041
Musical Instruments                 1208
Name: Project Resource Category, dtype: int64

In [35]:
## Contengency table for Project Resource Category
pd.crosstab(index=projects_cleaned['Project Resource Category'],columns=projects_cleaned['Project Current Status'])

Project Current Status          Expired  Fully Funded
Project Resource Category
Art Supplies                        335          2579
Books                             28373        133970
Classroom Basics                    389          3307
Computers & Tablets                2221          7895
Educational Kits & Games            805          6603
Flexible Seating                    819          3303
Food, Clothing & Hygiene            102          1939
Instructional Technology            929          5330
Lab Equipment                       295          1844
Musical Instruments                 128          1080
Other                             15358         51492
Reading Nooks, Desks & Storage      649          3118
Sports & Exercise Equipment         220          2243
Supplies                          86600        299474
Technology                        98558        200476
Trips                              4177         12465
Visitors                            732          1819

In [36]:
## Chi2 Test
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency

class ChiSquare:
    def __init__(self, dataframe):
        self.df = dataframe
        self.p = None #P-Value
        self.chi2 = None #Chi Test Statistic
        self.dof = None
        
        self.dfObserved = None
        self.dfExpected = None
        
    def _print_chisquare_result(self, colX, alpha):
        result = ""
        if self.p<alpha:
            result="{0} is IMPORTANT for Prediction".format(colX)
        else:
            result="{0} is NOT an important predictor. (Discard {0} from model)".format(colX)

        print(result)
        
    def TestIndependence(self,colX,colY, alpha=0.01):
        X = self.df[colX].astype(str)
        Y = self.df[colY].astype(str)
        
        self.dfObserved = pd.crosstab(Y,X) 
        chi2, p, dof, expected = stats.chi2_contingency(self.dfObserved.values)
        self.p = p
        self.chi2 = chi2
        self.dof = dof 
        
        self.dfExpected = pd.DataFrame(expected, columns=self.dfObserved.columns, index = self.dfObserved.index)
        
        self._print_chisquare_result(colX,alpha)

df = projects_cleaned.copy()
df['dummyCat'] = np.random.choice([0, 1], size=(len(df),), p=[0.25, 0.75])

#Initialize ChiSquare Class
cT = ChiSquare(df)

#Feature Selection
testColumns = ['Project Type','Project Subject Category Tree','Project Grade Level Category','Project Resource Category','Project Posted Month','dummyCat']
for var in testColumns:
    cT.TestIndependence(colX=var,colY="Project Current Status" )

Project Type is IMPORTANT for Prediction
Project Subject Category Tree is IMPORTANT for Prediction
Project Grade Level Category is IMPORTANT for Prediction
Project Resource Category is IMPORTANT for Prediction
Project Posted Month is IMPORTANT for Prediction
dummyCat is NOT an important predictor. (Discard dummyCat from model)

In [37]:
df.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Expiration Date,Project Current Status,Project Fully Funded Date,Project Posted Month,dummyCat
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-05-30,Fully Funded,2013-01-11,1,0
1,f9f4af7099061fb4bf44642a03e5c331,08b20f1e2125103ed7aa17e8d76c71d4,cca2d1d277fb4adb50147b49cdc3b156,Teacher-Led,Literacy & Language,"Early Development, Literacy",Grades PreK-2,Technology,512.85,2013-05-31,Expired,NaN,1,1
2,afd99a01739ad5557b51b1ba0174e832,1287f5128b1f36bf8434e5705a7cc04d,6c5bd0d4f20547a001628aefd71de89e,Teacher-Led,Literacy & Language,ESL,Grades PreK-2,Supplies,435.92,2013-05-30,Fully Funded,2013-05-22,1,1
3,c614a38bb1a5e68e2ae6ad9d94bb2492,900fec9cd7a3188acbc90586a09584ef,8ed6f8181d092a8f4c008b18d18e54ad,Teacher-Led,Literacy & Language,"ESL, Literacy",Grades 3-5,Books,161.26,2013-05-31,Fully Funded,2013-02-06,1,1
4,ec82a697fab916c0db0cdad746338df9,3b200e7fe3e6dde3c169c02e5fb5ae86,893173d62775f8be7c30bf4220ad0c33,Teacher-Led,Special Needs,Special Needs,Grades 3-5,Supplies,264.19,2013-05-30,Fully Funded,2013-01-01,1,1

In [38]:
schools_cleaned = schools.copy()

In [39]:
schools_cleaned.head()

,School ID,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District
0,00003e0fdd601b8ea0a6eb44057b9c5e,Capon Bridge Middle School,rural,56.0,West Virginia,26711,Capon Bridge,Hampshire,Hampshire Co School District
1,00004e32a448b4832e1b993500bf0731,The Woodlands College Park High School,urban,41.0,Texas,77384,The Woodlands,Montgomery,Conroe Ind School District
2,0002021bb799f28de224f1acc1ff08c4,Samantha Smith Elementary School,suburban,2.0,Washington,98074,Sammamish,King,Lake Washington Sch Dist 414
3,0004604f675212a8cac1161338265196,Kingsbury Country Day School,unknown,76.0,Michigan,48370,Oxford,Oakland,Michigan Dept Of Education
4,0004c9d50bcf0cea990f844e58b5e2c3,Redwater Elementary School,rural,50.0,Texas,75573,Redwater,Bowie,Redwater Ind Sch District

In [40]:
schools_cleaned = schools_cleaned.drop(
    ['School Zip', 'School Name',
     'School District', 'School County',
     'School City'], axis=1)

In [41]:
schools_cleaned.head()

,School ID,School Metro Type,School Percentage Free Lunch,School State
0,00003e0fdd601b8ea0a6eb44057b9c5e,rural,56.0,West Virginia
1,00004e32a448b4832e1b993500bf0731,urban,41.0,Texas
2,0002021bb799f28de224f1acc1ff08c4,suburban,2.0,Washington
3,0004604f675212a8cac1161338265196,unknown,76.0,Michigan
4,0004c9d50bcf0cea990f844e58b5e2c3,rural,50.0,Texas

In [42]:
schools_cleaned.isnull().sum()/len(schools_cleaned)*100

School ID                       0.000000
School Metro Type               0.000000
School Percentage Free Lunch    1.563164
School State                    0.000000
dtype: float64

In [43]:
len(schools_cleaned)

72993

In [44]:
schools_cleaned = schools_cleaned.dropna(subset=['School Percentage Free Lunch'])

In [45]:
schools_cleaned.head()

,School ID,School Metro Type,School Percentage Free Lunch,School State
0,00003e0fdd601b8ea0a6eb44057b9c5e,rural,56.0,West Virginia
1,00004e32a448b4832e1b993500bf0731,urban,41.0,Texas
2,0002021bb799f28de224f1acc1ff08c4,suburban,2.0,Washington
3,0004604f675212a8cac1161338265196,unknown,76.0,Michigan
4,0004c9d50bcf0cea990f844e58b5e2c3,rural,50.0,Texas

In [46]:
##Merge
df = projects_cleaned.merge(schools_cleaned, on='School ID', how='inner')

In [47]:
df.head()

,Project ID,School ID,Teacher ID,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Expiration Date,Project Current Status,Project Fully Funded Date,Project Posted Month,School Metro Type,School Percentage Free Lunch,School State
0,7685f0265a19d7b52a470ee4bac883ba,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Applied Learning,"Character Education, Early Development",Grades PreK-2,Technology,361.80,2013-05-30,Fully Funded,2013-01-11,1,suburban,95.0,California
1,e11cc13f5f29c1a92c1a396a8c7471fb,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Health & Sports,"Character Education, Health & Wellness",Grades PreK-2,Technology,416.24,2013-06-05,Fully Funded,2013-02-02,1,suburban,95.0,California
2,9e367907db2c9b5c0b23fa6c1318eced,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades PreK-2,Supplies,829.08,2013-05-23,Fully Funded,2013-01-25,1,suburban,95.0,California
3,9fa7373e77b89fbd71fd077400e7858d,e180c7424cb9c68cb49f141b092a988f,48471683229525ebf8549be1363065b4,Teacher-Led,Literacy & Language,Literature & Writing,Grades PreK-2,Technology,478.98,2013-06-02,Fully Funded,2013-02-08,2,suburban,95.0,California
4,30ee31b91a437f3c03ac6fb35699f182,e180c7424cb9c68cb49f141b092a988f,4ee5200e89d9e2998ec8baad8a3c5968,Teacher-Led,Literacy & Language,"Literacy, Mathematics",Grades PreK-2,Supplies,869.98,2013-06-02,Fully Funded,2013-02-21,2,suburban,95.0,California

In [48]:
df = df.drop(
    ['Project ID', 'School ID',
     'Teacher ID', 'Project Subject Subcategory Tree',
     'Project Expiration Date','Project Fully Funded Date'], axis=1)

In [49]:
df.head()

,Project Type,Project Subject Category Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Current Status,Project Posted Month,School Metro Type,School Percentage Free Lunch,School State
0,Teacher-Led,Applied Learning,Grades PreK-2,Technology,361.80,Fully Funded,1,suburban,95.0,California
1,Teacher-Led,Health & Sports,Grades PreK-2,Technology,416.24,Fully Funded,1,suburban,95.0,California
2,Teacher-Led,Literacy & Language,Grades PreK-2,Supplies,829.08,Fully Funded,1,suburban,95.0,California
3,Teacher-Led,Literacy & Language,Grades PreK-2,Technology,478.98,Fully Funded,2,suburban,95.0,California
4,Teacher-Led,Literacy & Language,Grades PreK-2,Supplies,869.98,Fully Funded,2,suburban,95.0,California

In [50]:
#data_df=pd.DataFrame(df.to_dict,index=['Project Type','Project Subject Category Tree','Project Grade Level Category','Project Resource Category','Project Cost',
           #'Project Posted Month','School Metro Type','School Percentage Free Lunch','School State','Project Current Status'])

In [51]:
dfgrouped = df['Project Cost'].groupby(df['Project Current Status'])

In [52]:
dfgrouped.describe()

,count,mean,std,min,25%,50%,75%,max
Project Current Status,,,,,,,,
Expired,239213.0,1043.883761,1483.443809,149.87,480.67,731.46,1229.39,159711.52
Fully Funded,736176.0,647.852590,916.963433,35.29,301.33,476.25,751.05,255737.67

In [53]:
df.to_csv('C:/Users/samaher/Desktop/Data/FinalMerged.csv')

In [54]:
df = pd.get_dummies(df,columns=['Project Type','Project Subject Category Tree','Project Grade Level Category','Project Resource Category',
           'Project Posted Month','School Metro Type','School State'])

In [55]:
df.head()

,Project Cost,Project Current Status,School Percentage Free Lunch,Project Type_Professional Development,Project Type_Student-Led,Project Type_Teacher-Led,Project Subject Category Tree_Applied Learning,Project Subject Category Tree_Health & Sports,Project Subject Category Tree_History & Civics,Project Subject Category Tree_Literacy & Language,...,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_West Virginia,School State_Wisconsin,School State_Wyoming
0,361.80,Fully Funded,95.0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,416.24,Fully Funded,95.0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,829.08,Fully Funded,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,478.98,Fully Funded,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,869.98,Fully Funded,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [56]:
def replace_fund(row):
    if 'Full' in str(row):
        return 1
    else:
        return 0

In [57]:
df['Project Current Status'] = df['Project Current Status'].apply(replace_fund)

In [58]:
df.head()

,Project Cost,Project Current Status,School Percentage Free Lunch,Project Type_Professional Development,Project Type_Student-Led,Project Type_Teacher-Led,Project Subject Category Tree_Applied Learning,Project Subject Category Tree_Health & Sports,Project Subject Category Tree_History & Civics,Project Subject Category Tree_Literacy & Language,...,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_West Virginia,School State_Wisconsin,School State_Wyoming
0,361.80,1,95.0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,416.24,1,95.0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,829.08,1,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,478.98,1,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,869.98,1,95.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [59]:
## unbalanced Class {1: fully funded, 0:Expired}
df['Project Current Status'].value_counts()

1    736176
0    239213
Name: Project Current Status, dtype: int64

In [60]:
## arranging columns
df = df.reindex(columns=sorted(df.columns))
df = df.reindex(columns=(['Project Current Status']+list([a for a in df.columns if a != 'Project Current Status'])))

In [61]:
df.head()

,Project Current Status,Project Cost,Project Grade Level Category_Grades 3-5,Project Grade Level Category_Grades 6-8,Project Grade Level Category_Grades 9-12,Project Grade Level Category_Grades PreK-2,Project Grade Level Category_unknown,Project Posted Month_1,Project Posted Month_10,Project Posted Month_11,...,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_West Virginia,School State_Wisconsin,School State_Wyoming
0,1,361.80,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,416.24,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,829.08,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,478.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,869.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
## Chi2 Test for all features
import numpy as np
import scipy.stats as stats
from scipy.stats import chi2_contingency

class ChiSquare:
    def __init__(self, dataframe):
        self.df = dataframe
        self.p = None #P-Value
        self.chi2 = None #Chi Test Statistic
        self.dof = None
        
        self.dfObserved = None
        self.dfExpected = None
        
    def _print_chisquare_result(self, colX, alpha):
        result = ""
        if self.p<alpha:
            result="{0} is IMPORTANT for Prediction".format(colX)
        else:
            result="{0} is NOT an important predictor. (Discard {0} from model)".format(colX)

        print(result)
        
    def TestIndependence(self,colX,colY, alpha=0.01):
        X = self.df[colX].astype(str)
        Y = self.df[colY].astype(str)
        
        self.dfObserved = pd.crosstab(Y,X) 
        chi2, p, dof, expected = stats.chi2_contingency(self.dfObserved.values)
        self.p = p
        self.chi2 = chi2
        self.dof = dof 
        
        self.dfExpected = pd.DataFrame(expected, columns=self.dfObserved.columns, index = self.dfObserved.index)
        
        self._print_chisquare_result(colX,alpha)

df1 = df.copy()
df1['dummyCat'] = np.random.choice([0, 1], size=(len(df1),), p=[0.25, 0.75])

#Initialize ChiSquare Class
cT = ChiSquare(df1)

#Feature Selection
testColumns = list([a for a in df1.columns if a != 'Project Current Status']) 
#['Project Type','Project Subject Category Tree','Project Grade Level Category','Project Resource Category','Project Posted Month','dummyCat']
for var in testColumns:
    cT.TestIndependence(colX=var,colY="Project Current Status" )

Project Cost is IMPORTANT for Prediction
Project Grade Level Category_Grades 3-5 is IMPORTANT for Prediction
Project Grade Level Category_Grades 6-8 is IMPORTANT for Prediction
Project Grade Level Category_Grades 9-12 is NOT an important predictor. (Discard Project Grade Level Category_Grades 9-12 from model)
Project Grade Level Category_Grades PreK-2 is IMPORTANT for Prediction
Project Grade Level Category_unknown is NOT an important predictor. (Discard Project Grade Level Category_unknown from model)
Project Posted Month_1 is IMPORTANT for Prediction
Project Posted Month_10 is NOT an important predictor. (Discard Project Posted Month_10 from model)
Project Posted Month_11 is IMPORTANT for Prediction
Project Posted Month_12 is IMPORTANT for Prediction
Project Posted Month_2 is IMPORTANT for Prediction
Project Posted Month_3 is IMPORTANT for Prediction
Project Posted Month_4 is IMPORTANT for Prediction
Project Posted Month_5 is IMPORTANT for Prediction
Project Posted Month_6 is IMPORTANT for Prediction
Project Posted Month_7 is IMPORTANT for Prediction
Project Posted Month_8 is NOT an important predictor. (Discard Project Posted Month_8 from model)
Project Posted Month_9 is IMPORTANT for Prediction
Project Resource Category_Art Supplies is IMPORTANT for Prediction
Project Resource Category_Books is IMPORTANT for Prediction
Project Resource Category_Classroom Basics is IMPORTANT for Prediction
Project Resource Category_Computers & Tablets is IMPORTANT for Prediction
Project Resource Category_Educational Kits & Games is IMPORTANT for Prediction
Project Resource Category_Flexible Seating is IMPORTANT for Prediction
Project Resource Category_Food, Clothing & Hygiene is IMPORTANT for Prediction
Project Resource Category_Instructional Technology is IMPORTANT for Prediction
Project Resource Category_Lab Equipment is IMPORTANT for Prediction
Project Resource Category_Musical Instruments is IMPORTANT for Prediction
Project Resource Category_Other is IMPORTANT for Prediction
Project Resource Category_Reading Nooks, Desks & Storage is IMPORTANT for Prediction
Project Resource Category_Sports & Exercise Equipment is IMPORTANT for Prediction
Project Resource Category_Supplies is IMPORTANT for Prediction
Project Resource Category_Technology is IMPORTANT for Prediction
Project Resource Category_Trips is NOT an important predictor. (Discard Project Resource Category_Trips from model)
Project Resource Category_Visitors is IMPORTANT for Prediction
Project Subject Category Tree_Applied Learning is IMPORTANT for Prediction
Project Subject Category Tree_Health & Sports is IMPORTANT for Prediction
Project Subject Category Tree_History & Civics is NOT an important predictor. (Discard Project Subject Category Tree_History & Civics from model)
Project Subject Category Tree_Literacy & Language is IMPORTANT for Prediction
Project Subject Category Tree_Math & Science is IMPORTANT for Prediction
Project Subject Category Tree_Music & The Arts is IMPORTANT for Prediction
Project Subject Category Tree_Special Needs is IMPORTANT for Prediction
Project Subject Category Tree_Warmth Care & Hunger is IMPORTANT for Prediction
Project Type_Professional Development is IMPORTANT for Prediction
Project Type_Student-Led is IMPORTANT for Prediction
Project Type_Teacher-Led is IMPORTANT for Prediction
School Metro Type_rural is IMPORTANT for Prediction
School Metro Type_suburban is IMPORTANT for Prediction
School Metro Type_town is IMPORTANT for Prediction
School Metro Type_unknown is IMPORTANT for Prediction
School Metro Type_urban is IMPORTANT for Prediction
School Percentage Free Lunch is IMPORTANT for Prediction
School State_Alabama is IMPORTANT for Prediction
School State_Alaska is IMPORTANT for Prediction
School State_Arizona is IMPORTANT for Prediction
School State_Arkansas is IMPORTANT for Prediction
School State_California is NOT an important predictor. (Discard School State_California from model)
School State_Colorado is IMPORTANT for Prediction
School State_Connecticut is IMPORTANT for Prediction
School State_Delaware is IMPORTANT for Prediction
School State_District of Columbia is IMPORTANT for Prediction
School State_Florida is IMPORTANT for Prediction
School State_Georgia is IMPORTANT for Prediction
School State_Hawaii is IMPORTANT for Prediction
School State_Idaho is IMPORTANT for Prediction
School State_Illinois is IMPORTANT for Prediction
School State_Indiana is IMPORTANT for Prediction
School State_Iowa is IMPORTANT for Prediction
School State_Kansas is IMPORTANT for Prediction
School State_Kentucky is IMPORTANT for Prediction
School State_Louisiana is IMPORTANT for Prediction
School State_Maine is IMPORTANT for Prediction
School State_Maryland is IMPORTANT for Prediction
School State_Massachusetts is IMPORTANT for Prediction
School State_Michigan is IMPORTANT for Prediction
School State_Minnesota is IMPORTANT for Prediction
School State_Mississippi is IMPORTANT for Prediction
School State_Missouri is IMPORTANT for Prediction
School State_Montana is IMPORTANT for Prediction
School State_Nebraska is IMPORTANT for Prediction
School State_Nevada is IMPORTANT for Prediction
School State_New Hampshire is IMPORTANT for Prediction
School State_New Jersey is NOT an important predictor. (Discard School State_New Jersey from model)
School State_New Mexico is IMPORTANT for Prediction
School State_New York is IMPORTANT for Prediction
School State_North Carolina is IMPORTANT for Prediction
School State_North Dakota is NOT an important predictor. (Discard School State_North Dakota from model)
School State_Ohio is NOT an important predictor. (Discard School State_Ohio from model)
School State_Oklahoma is IMPORTANT for Prediction
School State_Oregon is IMPORTANT for Prediction
School State_Pennsylvania is IMPORTANT for Prediction
School State_Rhode Island is IMPORTANT for Prediction
School State_South Carolina is IMPORTANT for Prediction
School State_South Dakota is IMPORTANT for Prediction
School State_Tennessee is IMPORTANT for Prediction
School State_Texas is IMPORTANT for Prediction
School State_Utah is IMPORTANT for Prediction
School State_Vermont is IMPORTANT for Prediction
School State_Virginia is IMPORTANT for Prediction
School State_Washington is IMPORTANT for Prediction
School State_West Virginia is NOT an important predictor. (Discard School State_West Virginia from model)
School State_Wisconsin is IMPORTANT for Prediction
School State_Wyoming is IMPORTANT for Prediction
dummyCat is NOT an important predictor. (Discard dummyCat from model)

In [63]:
## modeling
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as make_pipeline_imb
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import numpy as np

C:\DCU\Anaconda3\lib\site-packages\sklearn\utils\fixes.py:313: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  _nan_object_mask = _nan_object_array != _nan_object_array

In [64]:
def print_results(headline, true_value, pred):
    print(headline)
    print("accuracy: {}".format(accuracy_score(true_value, pred)))
    print("precision: {}".format(precision_score(true_value, pred)))
    print("recall: {}".format(recall_score(true_value, pred)))
    print("f1: {}".format(f1_score(true_value, pred)))

In [65]:
# our classifier to use
#classifier = LogisticRegression
classifier= RandomForestClassifier

In [66]:
data = df.loc[:, df.columns != 'Project Current Status']
target = df['Project Current Status']

In [67]:
# splitting data into training and test set
X_train, X_test, y_train, y_test = train_test_split(data, target,test_size=0.2, random_state=42)

In [68]:
# build normal model
pipeline = make_pipeline(classifier(random_state=42))
model = pipeline.fit(X_train, y_train)
prediction = model.predict(X_test)

C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [69]:
# build model with SMOTE imblearn
smote_pipeline = make_pipeline_imb(SMOTE(random_state=4), classifier(random_state=42))
smote_model = smote_pipeline.fit(X_train, y_train)
smote_prediction = smote_model.predict(X_test)

C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [70]:
# build model with undersampling
nearmiss_pipeline = make_pipeline_imb(NearMiss(random_state=42), classifier(random_state=42))
nearmiss_model = nearmiss_pipeline.fit(X_train, y_train)
nearmiss_prediction = nearmiss_model.predict(X_test)

C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [71]:
# print information about both models
print()
print("normal data distribution: {}".format(Counter(target)))
X_smote, y_smote = SMOTE().fit_sample(data, target)
print("SMOTE data distribution: {}".format(Counter(y_smote)))
X_nearmiss, y_nearmiss = NearMiss().fit_sample(data, target)
print("NearMiss data distribution: {}".format(Counter(y_nearmiss)))

normal data distribution: Counter({1: 736176, 0: 239213})
SMOTE data distribution: Counter({1: 736176, 0: 736176})
NearMiss data distribution: Counter({0: 239213, 1: 239213})

In [72]:
# classification report
print(classification_report(y_test, prediction))
print(classification_report_imbalanced(y_test, smote_prediction))
print(classification_report_imbalanced(y_test,nearmiss_prediction ))

              precision    recall  f1-score   support

           0       0.45      0.35      0.39     48172
           1       0.80      0.86      0.83    146906

   micro avg       0.73      0.73      0.73    195078
   macro avg       0.62      0.60      0.61    195078
weighted avg       0.71      0.73      0.72    195078

                   pre       rec       spe        f1       geo       iba       sup

          0       0.44      0.35      0.85      0.39      0.55      0.28     48172
          1       0.80      0.85      0.35      0.83      0.55      0.31    146906

avg / total       0.71      0.73      0.47      0.72      0.55      0.31    195078

                   pre       rec       spe        f1       geo       iba       sup

          0       0.30      0.75      0.43      0.43      0.57      0.33     48172
          1       0.84      0.43      0.75      0.57      0.57      0.31    146906

avg / total       0.70      0.51      0.67      0.53      0.57      0.31    195078

In [73]:
print()
print('normal Pipeline Score {}'.format(pipeline.score(X_test, y_test)))
print('SMOTE Pipeline Score {}'.format(smote_pipeline.score(X_test, y_test)))
print('NearMiss Pipeline Score {}'.format(nearmiss_pipeline.score(X_test, y_test)))

normal Pipeline Score 0.7332810465557367
SMOTE Pipeline Score 0.7295953413506392
NearMiss Pipeline Score 0.5070894719035463

In [74]:
print()
print_results("normal classification", y_test, prediction)
print()
print_results("SMOTE classification", y_test, smote_prediction)
print()
print_results("NearMiss classification", y_test, nearmiss_prediction)

normal classification
accuracy: 0.7332810465557367
precision: 0.8005169366435861
recall: 0.8601690877159545
f1: 0.8292716539954522

SMOTE classification
accuracy: 0.7295953413506392
precision: 0.8001504641436294
recall: 0.8543013900044927
f1: 0.826339735443813

NearMiss classification
accuracy: 0.5070894719035463
precision: 0.8376310607270211
recall: 0.4285257239323105
f1: 0.5669857967594636

In [75]:
## exclude non-contributed columns after chi2 test AT LEVEL 0.01
df1 = df1.drop(
    ['Project Posted Month_8', 'Project Posted Month_10',
     'School State_North Dakota', 'School State_Ohio',
     'Project Grade Level Category_Grades 9-12', 'Project Grade Level Category_unknown',
     'Project Resource Category_Trips','Project Subject Category Tree_History & Civics',
    'School State_California','School State_West Virginia','dummyCat'], axis=1)

In [76]:
data = df1.loc[:, df1.columns != 'Project Current Status']
target = df1['Project Current Status']

# splitting data into training and test set
X_train, X_test, y_train, y_test = train_test_split(data, target,test_size=0.2, random_state=42)


# build normal model
pipeline = make_pipeline(classifier(random_state=42))
model = pipeline.fit(X_train, y_train)
prediction = model.predict(X_test)

# build model with SMOTE imblearn
smote_pipeline = make_pipeline_imb(SMOTE(random_state=4), classifier(random_state=42))
smote_model = smote_pipeline.fit(X_train, y_train)
smote_prediction = smote_model.predict(X_test)

# build model with undersampling
nearmiss_pipeline = make_pipeline_imb(NearMiss(random_state=42), classifier(random_state=42))
nearmiss_model = nearmiss_pipeline.fit(X_train, y_train)
nearmiss_prediction = nearmiss_model.predict(X_test)

# print information about both models
print()
print("normal data distribution: {}".format(Counter(target)))
X_smote, y_smote = SMOTE().fit_sample(data, target)
print("SMOTE data distribution: {}".format(Counter(y_smote)))
X_nearmiss, y_nearmiss = NearMiss().fit_sample(data, target)
print("NearMiss data distribution: {}".format(Counter(y_nearmiss)))

# classification report
print(classification_report(y_test, prediction))
print(classification_report_imbalanced(y_test, smote_prediction))
print(classification_report_imbalanced(y_test,nearmiss_prediction ))

print()
print('normal Pipeline Score {}'.format(pipeline.score(X_test, y_test)))
print('SMOTE Pipeline Score {}'.format(smote_pipeline.score(X_test, y_test)))
print('NearMiss Pipeline Score {}'.format(nearmiss_pipeline.score(X_test, y_test)))

print()
print_results("normal classification", y_test, prediction)
print()
print_results("SMOTE classification", y_test, smote_prediction)
print()
print_results("NearMiss classification", y_test, nearmiss_prediction)

C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\DCU\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

normal data distribution: Counter({1: 736176, 0: 239213})
SMOTE data distribution: Counter({1: 736176, 0: 736176})
NearMiss data distribution: Counter({0: 239213, 1: 239213})
              precision    recall  f1-score   support

           0       0.44      0.34      0.39     48172
           1       0.80      0.86      0.83    146906

   micro avg       0.73      0.73      0.73    195078
   macro avg       0.62      0.60      0.61    195078
weighted avg       0.71      0.73      0.72    195078

                   pre       rec       spe        f1       geo       iba       sup

          0       0.44      0.35      0.85      0.39      0.55      0.28     48172
          1       0.80      0.85      0.35      0.83      0.55      0.31    146906

avg / total       0.71      0.73      0.47      0.72      0.55      0.31    195078

                   pre       rec       spe        f1       geo       iba       sup

          0       0.30      0.74      0.44      0.43      0.57      0.34     48172
          1       0.84      0.44      0.74      0.58      0.57      0.32    146906

avg / total       0.71      0.52      0.67      0.54      0.57      0.32    195078


normal Pipeline Score 0.7308871323265566
SMOTE Pipeline Score 0.7283599380760516
NearMiss Pipeline Score 0.5157270425163268

normal classification
accuracy: 0.7308871323265566
precision: 0.7995025633216588
recall: 0.8577457694035642
f1: 0.8276007014455822

SMOTE classification
accuracy: 0.7283599380760516
precision: 0.8001342238982455
recall: 0.8521435475746396
f1: 0.8253203279261342

NearMiss classification
accuracy: 0.5157270425163268
precision: 0.8378152018451468
recall: 0.4426095598546009
f1: 0.5792218782709395

.

.

.

.

In [77]:
df1['Project Cost'].head()

0    361.80
1    416.24
2    829.08
3    478.98
4    869.98
Name: Project Cost, dtype: float64

In [78]:
# Log-transform the skewed features
skewed = ['Project Cost']
features_log_transformed = pd.DataFrame(data = df1)
features_log_transformed[skewed] = data[skewed].apply(lambda x: np.log(x + 1))

In [79]:
features_log_transformed['Project Cost'].head()

0    5.893852
1    6.033662
2    6.721522
3    6.173744
4    6.769619
Name: Project Cost, dtype: float64

In [86]:
from IPython.display import display

In [87]:
#Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['Project Cost', 'School Percentage Free Lunch']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

# Show an example of a record with scaling applied
display(features_log_minmax_transform.head(n = 5))

,Project Current Status,Project Cost,Project Grade Level Category_Grades 3-5,Project Grade Level Category_Grades 6-8,Project Grade Level Category_Grades PreK-2,Project Posted Month_1,Project Posted Month_11,Project Posted Month_12,Project Posted Month_2,Project Posted Month_3,...,School State_South Carolina,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_Wisconsin,School State_Wyoming
0,1,0.259844,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.275623,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.353256,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.291433,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0.358684,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [88]:
display(features_log_minmax_transform['School Percentage Free Lunch'].head(n = 5))

0    0.95
1    0.95
2    0.95
3    0.95
4    0.95
Name: School Percentage Free Lunch, dtype: float64

In [89]:
features_final = features_log_minmax_transform.drop('Project Current Status', axis = 1)
status = features_log_minmax_transform['Project Current Status']

In [90]:
#Import train_test_split
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final, 
                                                    status, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 780311 samples.
Testing set has 195078 samples.

In [91]:
df.head()

,Project Current Status,Project Cost,Project Grade Level Category_Grades 3-5,Project Grade Level Category_Grades 6-8,Project Grade Level Category_Grades 9-12,Project Grade Level Category_Grades PreK-2,Project Grade Level Category_unknown,Project Posted Month_1,Project Posted Month_10,Project Posted Month_11,...,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_West Virginia,School State_Wisconsin,School State_Wyoming
0,1,361.80,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,416.24,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,829.08,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,478.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,869.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
df.head()

,Project Current Status,Project Cost,Project Grade Level Category_Grades 3-5,Project Grade Level Category_Grades 6-8,Project Grade Level Category_Grades 9-12,Project Grade Level Category_Grades PreK-2,Project Grade Level Category_unknown,Project Posted Month_1,Project Posted Month_10,Project Posted Month_11,...,School State_South Dakota,School State_Tennessee,School State_Texas,School State_Utah,School State_Vermont,School State_Virginia,School State_Washington,School State_West Virginia,School State_Wisconsin,School State_Wyoming
0,1,361.80,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,416.24,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,829.08,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,478.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,869.98,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
df.to_csv('C:/Users/samaher/Desktop/Data/final_prepr.csv')